{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 300px;
}
</style>
<head>
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">

    <title>{{ game_object.title}}</title>
</head>

<a href = "{% url 'game_list' %}"><h2>Main Page</h2></a>
<body>

<h2>{{game_object.title}}</h2>


<img src="{{game_object.picture}}" class = "center"> <br>

<p>{{ game_object.description }}</p>


{% for game in game_list %}

<a href = "{% url 'rate_this' %}"><h2>Rate This Game</h2></a>

{% endfor %}


</body>
</html>
