{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
   <title>Home</title>
    <h5>Welcome</h5>
</head>
<body>
{% for game in game_list %}

<a href = "{% url 'show_game' game.id %}"><h2>{{ game.title }}</h2></a>
<img src="{{ game.picture }}">



{% endfor %}


</body>
</html>
