{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">

    <title>Rate This</title>
</head>

<a href = "{% url 'game_list' %}"><h2>Main Page</h2></a>
<body>

<h2>{{game_object.title}}</h2>


<img src="{{game_object.picture}}"> <br>

{{ game_object.description }}

</body>
</html>
