
img {
    height: 400px;
    width: 300px;

}


body {
    margin-right: 100px;
    margin-left: 100px;
    box-sizing: inherit;
}


p {

    margin-right: 100px;
    font-size: 18px;
    font-family: 'georgia';
    font-weight: bold;
    text-align: left;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
